<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastUpdate</key>
	<integer>1372648948</integer>
	<key>LocationName</key>
	<string>C, I</string>
	<key>Coordinates</key>
	<dict>
		<key>latitude</key>
		<real>41.92</real>
		<key>longitude</key>
		<real>-87.65</real>
	</dict>
	<key>HourlyForecasts</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>0</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>63</integer>
			<key>DewPoint</key>
			<integer>54</integer>
			<key>Temp3hour</key>
			<integer>63</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>12</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>28</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>72</integer>
			<key>PrecipProb</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>1</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>63</integer>
			<key>DewPoint</key>
			<integer>54</integer>
			<key>Temp3hour</key>
			<integer>63</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>12</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>28</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>72</integer>
			<key>PrecipProb</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>2</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>63</integer>
			<key>DewPoint</key>
			<integer>54</integer>
			<key>Temp3hour</key>
			<integer>63</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>12</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>28</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>72</integer>
			<key>PrecipProb</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>3</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>62</integer>
			<key>DewPoint</key>
			<integer>54</integer>
			<key>Temp3hour</key>
			<integer>62</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>11</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>20</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>75</integer>
			<key>PrecipProb</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>4</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>62</integer>
			<key>DewPoint</key>
			<integer>54</integer>
			<key>Temp3hour</key>
			<integer>62</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>11</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>20</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>75</integer>
			<key>PrecipProb</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>5</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>62</integer>
			<key>DewPoint</key>
			<integer>54</integer>
			<key>Temp3hour</key>
			<integer>62</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>11</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>20</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>75</integer>
			<key>PrecipProb</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>6</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>64</integer>
			<key>DewPoint</key>
			<integer>53</integer>
			<key>Temp3hour</key>
			<integer>64</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>11</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>11</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>68</integer>
			<key>PrecipProb</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>7</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>64</integer>
			<key>DewPoint</key>
			<integer>53</integer>
			<key>Temp3hour</key>
			<integer>64</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>11</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>11</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>68</integer>
			<key>PrecipProb</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>8</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>64</integer>
			<key>DewPoint</key>
			<integer>53</integer>
			<key>Temp3hour</key>
			<integer>64</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>11</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>11</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>68</integer>
			<key>PrecipProb</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>9</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>68</integer>
			<key>DewPoint</key>
			<integer>54</integer>
			<key>Temp3hour</key>
			<integer>68</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>14</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>25</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>61</integer>
			<key>PrecipProb</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>10</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>68</integer>
			<key>DewPoint</key>
			<integer>54</integer>
			<key>Temp3hour</key>
			<integer>68</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>14</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>25</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>61</integer>
			<key>PrecipProb</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>11</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>68</integer>
			<key>DewPoint</key>
			<integer>54</integer>
			<key>Temp3hour</key>
			<integer>68</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>14</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>25</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>61</integer>
			<key>PrecipProb</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>12</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>70</integer>
			<key>DewPoint</key>
			<integer>54</integer>
			<key>Temp3hour</key>
			<integer>70</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>16</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>45</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>57</integer>
			<key>PrecipProb</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>13</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>70</integer>
			<key>DewPoint</key>
			<integer>54</integer>
			<key>Temp3hour</key>
			<integer>70</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>16</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>45</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>57</integer>
			<key>PrecipProb</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>14</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>70</integer>
			<key>DewPoint</key>
			<integer>54</integer>
			<key>Temp3hour</key>
			<integer>70</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>16</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>45</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>57</integer>
			<key>PrecipProb</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>15</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>71</integer>
			<key>DewPoint</key>
			<integer>55</integer>
			<key>Temp3hour</key>
			<integer>71</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>14</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>45</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>57</integer>
			<key>PrecipProb</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>16</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>71</integer>
			<key>DewPoint</key>
			<integer>55</integer>
			<key>Temp3hour</key>
			<integer>71</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>14</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>45</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>57</integer>
			<key>PrecipProb</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>17</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>71</integer>
			<key>DewPoint</key>
			<integer>55</integer>
			<key>Temp3hour</key>
			<integer>71</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>14</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>45</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>57</integer>
			<key>PrecipProb</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>18</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>69</integer>
			<key>DewPoint</key>
			<integer>56</integer>
			<key>Temp3hour</key>
			<integer>69</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>13</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>46</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>63</integer>
			<key>PrecipProb</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>19</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>69</integer>
			<key>DewPoint</key>
			<integer>56</integer>
			<key>Temp3hour</key>
			<integer>69</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>13</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>46</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>63</integer>
			<key>PrecipProb</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>20</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>69</integer>
			<key>DewPoint</key>
			<integer>56</integer>
			<key>Temp3hour</key>
			<integer>69</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>13</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>CloudCover</key>
			<integer>46</integer>
			<key>WindDirect</key>
			<integer>20</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>63</integer>
			<key>PrecipProb</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>21</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>64</integer>
			<key>DewPoint</key>
			<integer>55</integer>
			<key>Temp3hour</key>
			<integer>64</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>11</integer>
			<key>WindDirect</key>
			<integer>30</integer>
			<key>CloudCover</key>
			<integer>46</integer>
			<key>WindDirect</key>
			<integer>30</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>72</integer>
			<key>PrecipProb</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>22</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>64</integer>
			<key>DewPoint</key>
			<integer>55</integer>
			<key>Temp3hour</key>
			<integer>64</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>11</integer>
			<key>WindDirect</key>
			<integer>30</integer>
			<key>CloudCover</key>
			<integer>46</integer>
			<key>WindDirect</key>
			<integer>30</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>72</integer>
			<key>PrecipProb</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>23</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>64</integer>
			<key>DewPoint</key>
			<integer>55</integer>
			<key>Temp3hour</key>
			<integer>64</integer>
			<key>MinTemp</key>
			<integer>62</integer>
			<key>MaxTemp</key>
			<integer>71</integer>
			<key>WindSpeed</key>
			<integer>11</integer>
			<key>WindDirect</key>
			<integer>30</integer>
			<key>CloudCover</key>
			<integer>46</integer>
			<key>WindDirect</key>
			<integer>30</integer>
			<key>LiquidPercAmount</key>
			<real>0.00</real>
			<key>RelativeHumid</key>
			<integer>72</integer>
			<key>PrecipProb</key>
			<integer>20</integer>
		</dict>
	</array>
</dict>
</plist>
