<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastUpdate</key>
	<integer>1372307057</integer>
	<key>LocationName</key>
	<string>Chicago, IL</string>
	<key>Coordinates</key>
	<dict>
		<key>latitude</key>
		<real>43</real>
		<key>longitude</key>
		<real>-85</real>
	</dict>
	<key>HourlyForecasts</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>0</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>type2</key>
				<string>none</string>
				<key>qualifier2</key>
				<string>fog</string>
				<key>qualifier</key>
				<string>none</string>
				<key>coverage2</key>
				<string>patchy</string>
				<key>intensity2</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>69</integer>
			<key>DewPoint</key>
			<integer>69</integer>
			<key>Temp3hour</key>
			<integer>69</integer>
			<key>MinTemp</key>
			<integer>67</integer>
			<key>MaxTemp</key>
			<integer>83</integer>
			<key>WindSpeed</key>
			<integer>3</integer>
			<key>WindDirect</key>
			<integer>0</integer>
			<key>CloudCover</key>
			<integer>76</integer>
			<key>WindDirect</key>
			<integer>0</integer>
			<key>LiquidPercAmount</key>
			<real>0.02</real>
			<key>RelativeHumid</key>
			<integer>100</integer>
			<key>PrecipProb</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>1</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>type2</key>
				<string>none</string>
				<key>qualifier2</key>
				<string>fog</string>
				<key>qualifier</key>
				<string>none</string>
				<key>coverage2</key>
				<string>patchy</string>
				<key>intensity2</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>69</integer>
			<key>DewPoint</key>
			<integer>69</integer>
			<key>Temp3hour</key>
			<integer>69</integer>
			<key>MinTemp</key>
			<integer>67</integer>
			<key>MaxTemp</key>
			<integer>83</integer>
			<key>WindSpeed</key>
			<integer>3</integer>
			<key>WindDirect</key>
			<integer>0</integer>
			<key>CloudCover</key>
			<integer>76</integer>
			<key>WindDirect</key>
			<integer>0</integer>
			<key>LiquidPercAmount</key>
			<real>0.02</real>
			<key>RelativeHumid</key>
			<integer>100</integer>
			<key>PrecipProb</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>2</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>type2</key>
				<string>none</string>
				<key>qualifier2</key>
				<string>fog</string>
				<key>qualifier</key>
				<string>none</string>
				<key>coverage2</key>
				<string>patchy</string>
				<key>intensity2</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>69</integer>
			<key>DewPoint</key>
			<integer>69</integer>
			<key>Temp3hour</key>
			<integer>69</integer>
			<key>MinTemp</key>
			<integer>67</integer>
			<key>MaxTemp</key>
			<integer>83</integer>
			<key>WindSpeed</key>
			<integer>3</integer>
			<key>WindDirect</key>
			<integer>0</integer>
			<key>CloudCover</key>
			<integer>76</integer>
			<key>WindDirect</key>
			<integer>0</integer>
			<key>LiquidPercAmount</key>
			<real>0.02</real>
			<key>RelativeHumid</key>
			<integer>100</integer>
			<key>PrecipProb</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>3</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>type2</key>
				<string>none</string>
				<key>qualifier2</key>
				<string>fog</string>
				<key>qualifier</key>
				<string>none</string>
				<key>coverage2</key>
				<string>patchy</string>
				<key>intensity2</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>67</integer>
			<key>DewPoint</key>
			<integer>67</integer>
			<key>Temp3hour</key>
			<integer>67</integer>
			<key>MinTemp</key>
			<integer>67</integer>
			<key>MaxTemp</key>
			<integer>83</integer>
			<key>WindSpeed</key>
			<integer>3</integer>
			<key>WindDirect</key>
			<integer>0</integer>
			<key>CloudCover</key>
			<integer>81</integer>
			<key>WindDirect</key>
			<integer>0</integer>
			<key>LiquidPercAmount</key>
			<real>0.02</real>
			<key>RelativeHumid</key>
			<integer>100</integer>
			<key>PrecipProb</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>4</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>type2</key>
				<string>none</string>
				<key>qualifier2</key>
				<string>fog</string>
				<key>qualifier</key>
				<string>none</string>
				<key>coverage2</key>
				<string>patchy</string>
				<key>intensity2</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>67</integer>
			<key>DewPoint</key>
			<integer>67</integer>
			<key>Temp3hour</key>
			<integer>67</integer>
			<key>MinTemp</key>
			<integer>67</integer>
			<key>MaxTemp</key>
			<integer>83</integer>
			<key>WindSpeed</key>
			<integer>3</integer>
			<key>WindDirect</key>
			<integer>0</integer>
			<key>CloudCover</key>
			<integer>81</integer>
			<key>WindDirect</key>
			<integer>0</integer>
			<key>LiquidPercAmount</key>
			<real>0.01</real>
			<key>RelativeHumid</key>
			<integer>100</integer>
			<key>PrecipProb</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>5</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>type2</key>
				<string>none</string>
				<key>qualifier2</key>
				<string>fog</string>
				<key>qualifier</key>
				<string>none</string>
				<key>coverage2</key>
				<string>patchy</string>
				<key>intensity2</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>67</integer>
			<key>DewPoint</key>
			<integer>67</integer>
			<key>Temp3hour</key>
			<integer>67</integer>
			<key>MinTemp</key>
			<integer>67</integer>
			<key>MaxTemp</key>
			<integer>83</integer>
			<key>WindSpeed</key>
			<integer>3</integer>
			<key>WindDirect</key>
			<integer>0</integer>
			<key>CloudCover</key>
			<integer>81</integer>
			<key>WindDirect</key>
			<integer>0</integer>
			<key>LiquidPercAmount</key>
			<real>0.01</real>
			<key>RelativeHumid</key>
			<integer>100</integer>
			<key>PrecipProb</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>6</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>type2</key>
				<string>none</string>
				<key>qualifier2</key>
				<string>fog</string>
				<key>qualifier</key>
				<string>none</string>
				<key>coverage2</key>
				<string>patchy</string>
				<key>intensity2</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>70</integer>
			<key>DewPoint</key>
			<integer>69</integer>
			<key>Temp3hour</key>
			<integer>70</integer>
			<key>MinTemp</key>
			<integer>67</integer>
			<key>MaxTemp</key>
			<integer>83</integer>
			<key>WindSpeed</key>
			<integer>4</integer>
			<key>WindDirect</key>
			<integer>10</integer>
			<key>CloudCover</key>
			<integer>87</integer>
			<key>WindDirect</key>
			<integer>10</integer>
			<key>LiquidPercAmount</key>
			<real>0.01</real>
			<key>RelativeHumid</key>
			<integer>97</integer>
			<key>PrecipProb</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>7</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>type2</key>
				<string>none</string>
				<key>qualifier2</key>
				<string>fog</string>
				<key>qualifier</key>
				<string>none</string>
				<key>coverage2</key>
				<string>patchy</string>
				<key>intensity2</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>70</integer>
			<key>DewPoint</key>
			<integer>69</integer>
			<key>Temp3hour</key>
			<integer>70</integer>
			<key>MinTemp</key>
			<integer>67</integer>
			<key>MaxTemp</key>
			<integer>83</integer>
			<key>WindSpeed</key>
			<integer>4</integer>
			<key>WindDirect</key>
			<integer>10</integer>
			<key>CloudCover</key>
			<integer>87</integer>
			<key>WindDirect</key>
			<integer>10</integer>
			<key>LiquidPercAmount</key>
			<real>0.01</real>
			<key>RelativeHumid</key>
			<integer>97</integer>
			<key>PrecipProb</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>8</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>slight chance</string>
				<key>type2</key>
				<string>none</string>
				<key>qualifier2</key>
				<string>fog</string>
				<key>qualifier</key>
				<string>none</string>
				<key>coverage2</key>
				<string>patchy</string>
				<key>intensity2</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>70</integer>
			<key>DewPoint</key>
			<integer>69</integer>
			<key>Temp3hour</key>
			<integer>70</integer>
			<key>MinTemp</key>
			<integer>67</integer>
			<key>MaxTemp</key>
			<integer>83</integer>
			<key>WindSpeed</key>
			<integer>4</integer>
			<key>WindDirect</key>
			<integer>10</integer>
			<key>CloudCover</key>
			<integer>87</integer>
			<key>WindDirect</key>
			<integer>10</integer>
			<key>LiquidPercAmount</key>
			<real>0.06</real>
			<key>RelativeHumid</key>
			<integer>97</integer>
			<key>PrecipProb</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>9</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>83</integer>
			<key>DewPoint</key>
			<integer>71</integer>
			<key>Temp3hour</key>
			<integer>80</integer>
			<key>MinTemp</key>
			<integer>67</integer>
			<key>MaxTemp</key>
			<integer>83</integer>
			<key>WindSpeed</key>
			<integer>3</integer>
			<key>WindDirect</key>
			<integer>340</integer>
			<key>CloudCover</key>
			<integer>78</integer>
			<key>WindDirect</key>
			<integer>340</integer>
			<key>LiquidPercAmount</key>
			<real>0.06</real>
			<key>RelativeHumid</key>
			<integer>75</integer>
			<key>PrecipProb</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>10</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>83</integer>
			<key>DewPoint</key>
			<integer>71</integer>
			<key>Temp3hour</key>
			<integer>80</integer>
			<key>MinTemp</key>
			<integer>67</integer>
			<key>MaxTemp</key>
			<integer>83</integer>
			<key>WindSpeed</key>
			<integer>3</integer>
			<key>WindDirect</key>
			<integer>340</integer>
			<key>CloudCover</key>
			<integer>78</integer>
			<key>WindDirect</key>
			<integer>340</integer>
			<key>LiquidPercAmount</key>
			<real>0.06</real>
			<key>RelativeHumid</key>
			<integer>75</integer>
			<key>PrecipProb</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>11</integer>
			<key>WeatherConditions</key>
			<dict>
				<key>coverage</key>
				<string>chance</string>
				<key>qualifier</key>
				<string>none</string>
				<key>type</key>
				<string>rain showers</string>
				<key>intensity</key>
				<string>moderate</string>
			</dict>
			<key>Temperature</key>
			<integer>83</integer>
			<key>DewPoint</key>
			<integer>71</integer>
			<key>Temp3hour</key>
			<integer>80</integer>
			<key>MinTemp</key>
			<integer>67</integer>
			<key>MaxTemp</key>
			<integer>83</integer>
			<key>WindSpeed</key>
			<integer>3</integer>
			<key>WindDirect</key>
			<integer>340</integer>
			<key>CloudCover</key>
			<integer>78</integer>
			<key>WindDirect</key>
			<integer>340</integer>
			<key>LiquidPercAmount</key>
			<real>0.06</real>
			<key>RelativeHumid</key>
			<integer>75</integer>
			<key>PrecipProb</key>
			<integer>40</integer>
		</dict>
	</array>
</dict>
</plist>
